body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  top: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.header {
  background-color: #3b5998;
  color: white;
  height: 80px;
}

.container {
  display: flex;
  align-items: flex-end;
}

.logo {
  width: 170px;
  height: 33px;
  background-position: 0 0;
  background-size: 100% 100%;
  background-image: url(../static/logo.png);
}

.register-button {
  padding: 3px 10px;
  margin: 0 10px;
  border: #42b72a;
  border-radius: 2px;
  color: white;
  background-color: #42b72a;
}

.join-facebook {
  color: white;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
