body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  top: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.header {
  background-color: #3b5998;
  color: white;
  height: 80px;
}

.container {
  display: flex;
  align-items: flex-end;
}

.logo {
  width: 170px;
  height: 33px;
  background-position: 0 0;
  background-size: 100% 100%;
  background-image: url(../static/logo.png);
}

.register-button {
  padding: 3px 10px;
  margin: 0 10px;
  border: #42b72a;
  border-radius: 2px;
  color: white;
  background-color: #42b72a;
}

.join-facebook {
  color: white;
  text-decoration: none;
}

.content {
  width: 65%;
  margin: 0 auto;
}

h2 {
  margin-bottom: 0;
}

.cards {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  width: 49%;
  border-radius: 5px;
}

img {
  padding: 20px 0;
  width: 200px;
  height: 240px;
}

.description {
  color: #999ca5;
  font-size: 14px;
  padding: 0 25px;
  margin-bottom: 60px;
}

.start {
  border: none;
  padding: 3px 10px;
  margin: 20px 0;
}
